
body.pb-display {
    border: 0;
    padding: 0;
    margin: 0;
}


body.pb-display form {
    margin: 0;
    padding: 0;
}

.pb-element .pb-element-label {
    display:none;

    position: absolute; 
    top: 0px; 
    right: 0px; 
    background: rgba(0,0,0,0.7); 
    color:white; 
    padding: 4px 5px; 
    text-transform: uppercase; 
    font-weight: 500; 
    font-size: 11px;
    z-index: 200;
    line-height: 1.15;
}

.pb-element .pb-element-label a {
    color:white; 
}

.pb-element .wysiwyg-editor {
    height: auto !important;
}

.pb-element.moused > .pb-element-label {
    display: block;
}

.pb-rows {
    position: relative;
}

.pb-element-settings {
    display: none;
}

.pb-row > .pb-element-settings {
    display: block;
}

.pb-sync {
    display: none;
}


.pagebuilder {
    /* width: 100%; */
  

    position: relative;
    /* top: 0;
    left: 0;
    right: 0;
    bottom: 0; */

    transition: left 1s;
}

.pagebuilder iframe {

    min-height: 600px;

    display: block;

    margin: 0px auto;

    transition: width 0.5s, margin 0.5s;
}

.pagebuilder.fullscreen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* padding: 20px; */
    background: rgba(0,0,0,0.7);

    display: flex;
    flex-direction: column;

}

.pagebuilder.fullscreen .pb-actions {
    background: #333;
    padding: 1rem;
}

.pagebuilder.fullscreen #btn-fullscreen {
    display: none;
}


#btn-docked {
    display: none;
}

.pagebuilder.fullscreen #btn-docked {
    display: inline;
}

.pagebuilder.fullscreen iframe {
    flex-grow: 1;
    border: none !important;
    width: 100%;
    
}


.pagebuilder.mobile iframe {
    width: 400px;
    border-radius: 10px;
    border: 1px solid black !important;
}


.pagebuilder.fullscreen.mobile iframe {
   
    margin-top: 20px;
    margin-bottom: 20px;
   
    border: 1px solid white !important;
}



