.image-element.empty .image-element-image:before {
    content: 'Click to insert image';
}

.pb-element.pb-image .fileupload {
    display:none;
}

.pb-element.pb-image {
    height: 100%;
}

img.image-element {
    display: block;
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}




